* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--cr1);
  box-sizing: border-box;
}

html,
body,
#app {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

span {
  white-space: nowrap;
}

textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
}

input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
}

input:placeholder-shown {
  color: var(--background-third-color) !important;
}

input::placeholder {
  opacity: 0;
}

body {
  --bg1: #212e2c;
  --bg2: #075c63;
  --bg3: #ffffff;
  --bg4: #107e6f;
  --bg5: #902d2d;

  --cr1: #212e2c;
  --cr2: #ffffff;
  --cr3: #075c63;
  --cr4: #333333;

  --br1: #d7d7d7cd;
  --br2: #9b9a9acd;
}

.малий {
  min-width: 40px;
  min-height: 40px;
}

.великий {
  min-width: 100px;
  min-height: 100px;
}
